{% extends "base.html.twig" %}

{% block title %}{{ is_edit ? 'Modifier' : 'Créer' }} une entreprise - ThePiston{% endblock %}

{% block main_class %}list-page{% endblock %}
{% block content %}
<section class="frame">
    <h1 class="main-title">{{ is_edit ? 'Modifier' : 'Créer' }} une entreprise</h1>

    <form class="form-test" action="/{{ is_edit ? 'companies/update&id=' ~ entreprise.ID_entreprise : 'companies/create' }}" method="POST">
        <label>Nom de l'entreprise</label>
        <input class="form-input" type="text" name="nameCompany" value="{{ entreprise.Nom_entreprise ?? '' }}" required>

        <label>Contact (Téléphone - Email)</label>
        <input class="form-input" type="text" name="contactCompany" value="{{ entreprise.Contact ?? '' }}" required>

        <label>Description</label>
        <textarea class="form-input" rows="10"name="descriptionCompany" required>{{ entreprise.Description ?? '' }}</textarea>

        <div class="btn-container" style="margin-top: 20px;">
            {# Le texte du bouton s'adapte à l'action en cours #}
            <button class="btn" type="submit">{{ is_edit ? 'Valider les modifications' : 'Créer l\'entreprise' }}</button>
            <a href="/companies" class="btn-annuler">Annuler</a>
        </div>
    </form>
</section>
{% endblock %}

