{% extends "base.html.twig" %}

{% block title %}Mon espace - ThePiston{% endblock %}


{% block content %}
    {% if session['user_role'] == 'admin' %}
        <h1 class="main-title">Mon espace Administrateur</h1>
    {% else %}
        <h1 class="main-title">Mon espace Pilote</h1>
    {% endif %}

    <section class="dashboards-section">
        <h2 class="dashboard-title">Les comptes élèves</h2>

        <div class="search-container">
            <div class="search-bar-admin">
                <form action="/dashboard&page=1" method="GET" >
                    <input type="text" name="surname" value="{{surname}}" placeholder="Nom">
                    <input type="text" name="name" value="{{name}}" placeholder="Prenom">
                    <input type="text" name="promotion" value="{{promotion}}" placeholder="Promotion">
                    <button type="submit" class="search-btn" aria-label="Rechercher">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
                <a href="/dashboard/admin/create-student" type="button" class="btn-add add-link">+</a>
            </div>                
        </div>

        <div class="box-list">
            {% for etudiant in etudiants %}
            <a href="/dashboard/admin/student-details&id={{ etudiant.ID_utilisateur }}" class="link">
            <table class="company-table admin">
                <tr>
                    <td class="user-name">{{ etudiant.Nom }} {{ etudiant.Prenom }} </td>
                    <td class="user-promotion">{{ etudiant.Promotion }}</td>
                    <td class="stats"><strong>Nombre de candidatures : {{ etudiant.nb_candidature }}</strong></td>
                    <td class="btn-table">
                        <a href="/dashboard/admin/update-student&id={{ etudiant.ID_utilisateur }}" 
                            class="btn-action crayon">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        {# Lien de suppression avec l'ID dynamique #}
                        <a href="/dashboard/admin/delete-student&id={{ etudiant.ID_utilisateur }}" 
                            class="btn-action poubelle" 
                            onclick="return confirm('Supprimer cet étudiant ?')">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </table>
            </a>
            {% endfor %}
        </div>

        {# Système de pagination avec tes classes CSS #}
        <div class="pagination">
            {% if total_pages > 1 %}
                {% for i in 1..total_pages %}
                    <a href="/dashboard/admin?surname={{ surname }}&name={{ name }}&promotion={{ promotion }}&surnameP={{ surnameP }}&nameP={{ nameP }}&page={{ i }}&pageP={{ current_pageP }}" 
                    class="{{ i == current_page ? 'active' : '' }}">
                        {{ i }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% if (session['user_role'] == 'admin') %}
    <section class="dashboards-section">
        <h2 class="dashboard-title">Les comptes pilotes</h2>

        <div class="search-container">
            <form action="/dashboard&page=1" method="GET" class="search-bar-admin">
                <input type="hidden" name="uri" value="dashboard/admin">
                <input type="text" name="surnameP" value="{{ surnameP }}" placeholder="Nom">
                <input type="text" name="nameP" value="{{ nameP }}" placeholder="Prenom">
                <button type="submit" class="search-btn" aria-label="Rechercher">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <a href="/dashboard/admin/create-pilot" type="button" class="btn-add add-link">+</a>
            </form>
        </div>

        <div class="box-list">
            {% for pilote in pilotes %}
            <table class="company-table admin">
                <tr>
                    <td class="user-name">{{ pilote.Nom }} {{ pilote.Prenom }}</td>
                    <td class="user-stats">{{ pilote.Email }}</td>
                    <td class="btn-table">
                        <a href="/dashboard/admin/update-pilot&id={{ pilote.ID_utilisateur }}" 
                            class="btn-action crayon">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        {# Lien de suppression avec l'ID dynamique #}
                        <a href="/dashboard/admin/delete-pilot&id={{ pilote.ID_utilisateur }}" 
                            class="btn-action poubelle" 
                            onclick="return confirm('Supprimer ce pilote ?')">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if total_pagesP > 1 %}
                {% for i in 1..total_pagesP %}
                    <a href="/dashboard/admin?surname={{ surname }}&name={{ name }}&promotion={{ promotion }}&surnameP={{ surnameP }}&nameP={{ nameP }}&page={{ current_page }}&pageP={{ i }}" 
                    class="{{ i == current_pageP ? 'active' : '' }}">
                        {{ i }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endif %}
{% endblock %}
