{% extends "base.html.twig" %}

{% block title %}Accueil - ThePiston{% endblock %}

{% block hero %}<img src="/assets/images/accueil_picture.jpg" alt="poignee de main" style="width:100%;height:30%;">{% endblock %}
{% block content %}
    <h1 class="main-title">Les offres disponibles</h1>
    <section class="search-section">
        {# Le formulaire doit envoyer vers index.php avec l'uri #}
        <form action="index.php" method="GET" class="search-form">
            <input type="hidden" name="uri" value="offers">

            <div class="search-bar-wrapper">
                <input type="text" name="recherche" class="search-input" 
                       value="{{ search_term }}" placeholder="Rechercher une offre...">

                <button type="submit" class="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

                <a href="index.php?uri=offers/create" type="button" class="btn-add link" id="ouvrirPopup">+</a>
            </div>

                <select class="filter-item" name="type">
                    <option value="">Type d'offre</option>
                    <option value="stage">Stage</option>
                    <option value="Alternance">Alternance</option>
                </select>
                
                <input type="text" class="filter-item" name="ent" placeholder="Entreprise...">
            </div>
           
        </form>
    </section>

    <div class="info-grid">
        <section class="info-column">
            <h2>Qui sommes-nous ?</h2>
            <p class="info-box">Nous sommes nous mêmes 4 étudiants du CESI, pour qui trouver un stage fut très laborieux. <br><br>
                 Le monde du travail est une bête sauvage pour les étudiants. Il existe tellement d'offres de stage et d'alternances, avec des centaines de sites les regroupant. Avoir une bonne gestion de ses recherches peut donc être parfois difficile. <br><br>
                 C'est pourquoi nous avons eu l'idée de créer <strong>ThePiston</strong>, le site regroupant un large pannel d'offres de stage et de contrat d'apprentissage pour aider nos compagnons étudiants de la France entière. Vos candidatures pouvant être consultées par vos pilotes, la gestion des recherche sera plus efficace ! </p>
        </section>

        <section class="info-column">
            <h2>Nos statistiques</h2>
            <div class="info-box">
                <div>
                    <div>
                        <h3>Statistiques générales</h3>
                        <ul>
                            <li>Nombre d'étudiants inscrits : {{ students[0].count_etudiant }}</li>
                            <li>Nombre d'offres disponibles : {{ offers[0].count_offre }} </li>
                            <li>Nombre moyen de canidature par offre : {{ apply[0].moyenne_candidature|round(1) }} </li>
                        </ul>
                    </div>

                    <div>
                        <h3>Top des offres</h3>
                        <ul>
                            <li>{{topOffers[0].Titre}} : {{topOffers[0].Nb_wishlist}} fois ajouté en wishlist</li>
                            <li>{{topOffers[1].Titre}} : {{topOffers[1].Nb_wishlist}} fois ajouté en wishlist</li>
                            <li>{{topOffers[2].Titre}} : {{topOffers[2].Nb_wishlist}} fois ajouté en wishlist</li>
                        </ul>
                    </div>

                    <div>
                        <h3>Répartition des offres par rapport à leur durée</h3>
                        <div>1-3 mois : {{timeDistribution[0].total_court}}</div>
                        <div>4-6 mois : {{timeDistribution[0].total_moyen}}</div>
                        <div>6+ mois : {{timeDistribution[0].total_long}}</div>
                    </div>

                </div>
            </div>
        </section>
    </div>
{% endblock %}
