{% extends "base.html.twig" %}

{% block title %}Accueil - ThePiston{% endblock %}

{% block hero %}<img src="/assets/images/accueil_picture.jpg" alt="poignee de main" style="width:100%;height:30%;">{% endblock %}
{% block content %}
    <h1 class="main-title">Les offres disponibles</h1>
    <section class="search-section">
        {# Le formulaire doit envoyer vers index.php avec l'uri #}
        <form action="index.php" method="GET" class="search-form">
            <input type="hidden" name="uri" value="offers">

            <div class="search-bar-wrapper">
                <input type="text" name="recherche" class="search-input" 
                       value="{{ search_term }}" placeholder="Rechercher une offre...">

                <button type="submit" class="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="filters-container">
                <select class="filter-item" name="type">
                    <option value="">Type d'offre</option>
                    <option value="Stage" {{ selected_type == 'Stage' ? 'selected' : '' }}>Stage</option>
                    <option value="Alternance" {{ selected_type == 'Alternance' ? 'selected' : '' }}>Alternance</option>
                </select>

                <select class="filter-item" name="duree">
                    <option value="">Durée</option>
                    <option value="1,3" {{ current_duree == '1,3' ? 'selected' : '' }}>1-3 mois</option>
                    <option value="4,6" {{ current_duree == '4,6' ? 'selected' : '' }}>4-6 mois</option>
                    <option value="12"  {{ current_duree == '12'  ? 'selected' : '' }}>1 an</option>
                    <option value="24"  {{ current_duree == '24'  ? 'selected' : '' }}>2 ans</option>
                    <option value="36"  {{ current_duree == '36'  ? 'selected' : '' }}>3 ans</option>
                </select>
                
                <input type="text" name="company" class="filter-item" 
                       value="{{ company }}" placeholder="Entreprise...">
            </div>
           
        </form>
    </section>

    <div class="info-grid">
        <section class="info-column">
            <h2>Qui sommes-nous ?</h2>
            <p class="info-box">Nous sommes nous mêmes 4 étudiants du CESI, pour qui trouver un stage fut très laborieux. <br><br>
                 Le monde du travail est une bête sauvage pour les étudiants. Il existe tellement d'offres de stage et d'alternances, avec des centaines de sites les regroupant. Avoir une bonne gestion de ses recherches peut donc être parfois difficile. <br><br>
                 C'est pourquoi nous avons eu l'idée de créer <strong>ThePiston</strong>, le site regroupant un large pannel d'offres de stage et de contrat d'apprentissage pour aider nos compagnons étudiants de la France entière. Vos candidatures pouvant être consultées par vos pilotes, la gestion des recherche sera plus efficace ! </p>
        </section>

        <section class="info-column">
            <h2>Nos statistiques</h2>
            <div class="info-box">
                <div class="container">
                    <!-- Élément carrousel -->
                    <div class="carousel">
                        <!-- Conteneur interne pour les diapositives -->
                        <div class="carousel-inner">
                            <!-- Première diapositive -->
                            <div class="slide">
                                <h3>Statistiques Générales</h3>
                                <div class="stats-grid">
                                    <div class="stat-card dark">
                                        <strong>{{ students[0].count_etudiant }}</strong>
                                        <span>étudiants dévoués à leur recherches avec ThePiston</span>
                                    </div>
                                    <div class="stat-card medium">
                                        <strong>{{ offers[0].count_offre }}</strong>
                                        <span>offres succulentes vous attendent</span>
                                    </div>
                                    <div class="stat-card light">
                                        <strong>{{ apply[0].moyenne_candidature|round(1) }}</strong>
                                        <span>candidatures par offre en moyenne</span>
                                    </div>
                                </div>
                            </div>

                            <div class="slide">
                                <h3>Top des offres ajoutées en wishlist</h3>
                                <div class="wishlist-container">
                                    {% for offer in topOffers|slice(0, 3) %}
                                    <a href="index.php?uri=offers/{{offer.ID_offre}}" class="wishlist-item">
                                        <span>{{offer.Titre}}</span>
                                        <span class="count">{{offer.Nb_wishlist}}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="slide slide-duration">
                                <h3>Répartition des offres par rapport à leur durée</h3>
                                <div class="chart-container">
                                    <div class="chart-row">
                                        <label>1-3 mois</label>
                                        <div class="bar-bg"><div class="bar dark" style="width: 60%;"></div></div> </div>
                                    <div class="chart-row">
                                        <label>4-6 mois</label>
                                        <div class="bar-bg"><div class="bar medium" style="width: 30%;"></div></div>
                                    </div>
                                    <div class="chart-row">
                                        <label>6+ mois</label>
                                        <div class="bar-bg"><div class="bar light" style="width: 85%;"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Conteneur pour les boutons de navigation -->
                        <div class="carousel-controls">
                            <!-- Bouton pour passer à la diapositive précédente -->
                            <button id="prev"><i class="fa-duotone fa-solid fa-chevron-left"></i></button>
                            <!-- Bouton pour passer à la diapositive suivante -->
                            <button id="next"><i class="fa-duotone fa-solid fa-chevron-right"></i></button>
                        </div>
                        <!-- Conteneur pour les points de navigation -->
                        <div class="carousel-dots"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}<script src="/assets/js/Carousel.js" async></script>{% endblock %}

