{% extends "base.html.twig" %}

{% block title %}{{ is_edit ? 'Modifier' : 'Ajouter' }} un pilote - ThePiston{% endblock %}

{% block main_class %}list-page{% endblock %}
{% block content %}
<section class="frame">
    <h1 class="main-title">{{ is_edit ? 'Modifier' : 'Ajouter' }} un pilote</h1>

    <form class="form-test" action="/{{ is_edit ? 'dashboard/admin/update-pilot&id=' ~ pilote.ID_utilisateur : 'dashboard/admin/create-pilot' }}" method="POST">
                
        <label>Nom</label>
        <input class="form-input" type="text" name="surname" value="{{ pilote.Nom ?? '' }}" required>

        <label>Prénom</label>
        <input class="form-input" type="text" name="name" value="{{ pilote.Prenom ?? '' }}" required>

        <label>E-mail</label>
        <input class="form-input" type="text" name="email" value="{{ pilote.Email ?? '' }}" required>

        <label>Mot de passe</label>
        <input class="form-input" type="text" name="password" {% if is_edit %} placeholder="Laissez vide pour ne pas modifier"{% endif %} {% if not is_edit %}required{% endif %}>

        <button class="btn" type="submit">Valider</button>
        <a href="/dashboard/admin" class="btn-annuler">Annuler</a>
    </form>
</section>
{% endblock %}