{% extends "base.html.twig" %}

{% block title %}{{ is_edit ? 'Modifier' : 'Ajouter' }} un pilote - ThePiston{% endblock %}

{% block main_class %}list-page{% endblock %}
{% block content %}
<section class="frame">
    <h1 class="main-title">{{ is_edit ? 'Modifier' : 'Ajouter' }} un pilote</h1>

    <form class="form-test" data-account-password-form="true" data-popup-error="{{ popup_error|default('')|e('html_attr') }}" action="/{{ is_edit ? 'dashboard/admin/update-pilot?id=' ~ pilote.ID_utilisateur : 'dashboard/admin/create-pilot' }}" method="POST">

        <div class="label-row">   
            <label>Nom</label>
            {% if 'surname' in error %}
                    <p class="infos infos-error" role="alert">Veuillez renseigner le nom</p>
            {% endif %}
        </div>
        <input class="form-input" type="text" name="surname" value="{{ pilote.Nom ?? '' }}">

        <div class="label-row">
            <label>Prénom</label>
            {% if 'firstname' in error %}
                    <p class="infos infos-error" role="alert">Veuillez renseigner le prénom</p>
            {% endif %}
        </div>
        <input class="form-input" type="text" name="firstname" value="{{ pilote.Prenom ?? '' }}">

        <div class="label-row">
            <label>E-mail</label>
            {% if 'email' in error %}
                    <p class="infos infos-error" role="alert">Veuillez renseigner l'e-mail</p>
            {% endif %}
        </div>
        <input class="form-input" type="email" name="email" value="{{ pilote.Email ?? '' }}">

        <div class="label-row">
            <label>Mot de passe</label>
            {% if 'password' in error %}
                    <p class="infos infos-error" role="alert">Veuillez renseigner le mot de passe</p>
            {% endif %}
        </div>
        <input class="form-input" id="password" type="password" name="password" {% if is_edit %} placeholder="Laissez vide pour ne pas modifier"{% endif %}>

        <div class="label-row">
            <label>Confirmation du mot de passe</label>
            {% if 'confirm' in error %}
                    <p class="infos infos-error" role="alert">Les mots de passe ne correspondent pas</p>
            {% endif %}
        </div>
        <input class="form-input" id="confirm_password" type="password" name="confirm_password">

        <button class="btn" type="submit">Valider</button>
        <a href="/dashboard/admin" class="btn-annuler">Annuler</a>
    </form>
</section>
{% endblock %}

{% block scripts %}
<script src="/assets/js/password-confirmation.js" defer></script>
{% endblock %}