{% extends "base.html.twig" %}

{% block title %}{{student.Nom|upper}} {{student.Prenom}} - ThePiston{% endblock %}

{% block extra_head %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block main_class %}student-dashboard {% endblock %}
{% block content %}
    <h1>{{student.Nom|upper}} {{student.Prenom}}    {{student.Promotion}}</h1>
    <div class="info-grid">
        <div class="info-column">
            <div class="info-box ib2" style="text-align: center;">Email : <strong>{{student.Email}}</strong></div>
        </div>
        <div class="info-column">
            {% if session.user_role == 'admin' %}
                    <div class="info-box ib2" style="text-align: center;">Pilote référent : <strong>{{pilot.Nom}} {{pilot.Prenom}}</strong></div>
            {% endif %}
        </div>
    </div>

    <section class="dashboards-section">
        <h2 class="dashboard-title">Liste des candidatures</h2>

        <div class="box-list">
            <table class="company-table admin">
                <thead>
                    <tr>
                        <th>Titre de l'offre</th>
                        <th>Entreprise</th>
                        <th>Date de candidature</th>
                        <th>CV</th>
                        <th>Lettre de motivation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td>
                            <a href="/offers/detail?id={{ application.ID_offre }}" class="link">
                                {{ application.Titre_offre }}
                            </a>
                        </td>
                        <td>{{ application.entreprise }}</td>
                        <td>{{ application.Date_candidature|date("d-m-Y") }}</td>
                        <td>
                            <a href="uploads/{{ application.CV }}" rel="nofollow" target="_blank" class="link">
                                {{ application.CV}}
                            </a>
                        </td>
                        <td>
                            <a href="uploads/{{ application.Lettre_motivation }}" rel="nofollow" target="_blank" class="link">
                                {{ application.Lettre_motivation}}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            {% if total_pages > 1 %}
                {% for i in 1..total_pages %}
                    <a href="/dashboard/admin/student-details?id={{ student.ID_utilisateur }}&page={{ i }}" 
                    class="{{ i == current_page ? 'active' : '' }}">
                        {{ i }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
